# 01. Analysis Seoul CCTV

In [1]:
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv("../data/01. Seoul_CCTV.csv", encoding="utf-8")

In [3]:
# 데이터의 가장 상단 5개 데이터 읽기
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [4]:
# 데이터의 가장 하단 5개 데이터 읽기
CCTV_Seoul.tail()

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  2096       1368    218    112    398
21  은평구  2108       1138    224    278    468
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [5]:
# 컬럼명 확인
CCTV_Seoul.columns[0]

'기관명'

In [6]:
# 컬럼명 변경
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]: "구별"}, inplace=True) # inplace=True -> 변경된 내용 바로 저장

In [7]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [8]:
# 인구 데이터 가져오기
pop_Seoul = pd.read_excel("../data/01. Seoul_Population.xls")

In [9]:
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017,합계,4220082,10124579,4957857,5166722,9857426,4830206,5027220,267153,127651,139502,2.34,1365126
3,2017,종로구,73594,164257,80094,84163,154770,75967,78803,9487,4127,5360,2.1,26182
4,2017,중구,60412,134593,66337,68256,125709,62253,63456,8884,4084,4800,2.08,21384

In [10]:
# 원하는 데이터만 가져오기
pop_Seoul = pd.read_excel(
    "../data/01. Seoul_Population.xls", header=2, usecols="B, D, G, J, N"
)

In [11]:
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10124579  9857426  267153   1365126
1  종로구    164257   154770    9487     26182
2   중구    134593   125709    8884     21384
3  용산구    244444   229161   15283     36882
4  성동구    312711   304808    7903     41273

In [12]:
# 컬럼명 변경
pop_Seoul.rename(
    columns={
        pop_Seoul.columns[0]: "구별",
        pop_Seoul.columns[1]: "인구수",
        pop_Seoul.columns[2]: "한국인",
        pop_Seoul.columns[3]: "외국인",
        pop_Seoul.columns[4]: "고령자"
    },
    inplace=True
)

pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10124579  9857426  267153  1365126
1  종로구    164257   154770    9487    26182
2   중구    134593   125709    8884    21384
3  용산구    244444   229161   15283    36882
4  성동구    312711   304808    7903    41273

## Pandas 기초
- Python에서 R만큼의 강력한 데이터 핸들링 성능을 제공하는 모듈
- 단일 프로세스에서는 최대 효율
- 코딩 가능하고 응용 가능한 엑셀로 인식해도 됨
- 누군가는 스테로이드를 맞은 엑셀로 표현하기도 함

### Series 데이터
- index와 value로 이루어져 있다.
- 한 가지 데이터 타입만 가질 수 있다.

In [3]:
import pandas as pd
import numpy as np

-  pandas는 통상 pd / numpy는 통상 np 라고 import 한다.

In [4]:
pd.Series()

Series([], dtype: object)

In [6]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
pd.Series([1, 2, 3, 4], dtype=float64)

NameError: name 'float64' is not defined

In [8]:
pd.Series([1, 2, 3, 4], dtype=np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
pd.Series([1, 2, 3, 4], dtype=str)

0    1
1    2
2    3
3    4
dtype: object

In [ ]:
pd.Series([1, 2, 3, 4], dtype=np.float64)

In [10]:
pd.Series(np.array([1, 2, 3]))

0    1
1    2
2    3
dtype: int32

In [11]:
pd.Series({"Key": "Value"})

Key    Value
dtype: object

In [14]:
data = pd.Series([1, 2, 3, 4, "5"])
data

0    1
1    2
2    3
3    4
4    5
dtype: object

In [15]:
# 짝수 찾기
data & 2

TypeError: Cannot perform 'and_' with a dtyped [object] array and scalar of type [bool]

In [16]:
data = pd.Series([1, 2, 3, 4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
# 짝수 찾기
data % 2

0    1
1    0
2    1
3    0
dtype: int64

### 날짜 데이터

In [20]:
pd.date_range("20210101", periods=6)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')